[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-restplus = "==0.10.1"
"ruamel.yaml" = "<=0.15"
openshift = "==0.6.3"
kubernetes = "==4.0.0"
pip-tools = "==1.11.0"
Flask = "==0.12.2"
prometheus_client = "==0.1.1"

[dev-packages]
pylint = "*"
pytest = "*"
"autopep8" = "*"
coala-bears = "*"
pytest-cov="*"
